<section class="otpcode-box" id="otpcode-box">
    <div class="form-floating mb-3" id="verify_password-box">
        <input type="text" class="form-control" name="otp-code" id="floatingInput">
        <label for="floatingInput">Nhập mã OTP</label>
    </div>

    <div class="form-floating mb-2">
        <span class="prompt">
            Vui lòng truy cập vào Gmail của bạn vừa xác minh để đăng lấy mã OTP để xác thực.
        </span>
    </div>

    <div class="form-floating mb-3">
        <div class="form-floating mb-3" id="resend-otpcode" style="display: none;">
            <a class="resend" href="">Gửi lại</a>
        </div>
        <button class="btn btn-primary" id="submit-button" type="submit" onclick="add_resend_button()">Gửi</button>
    </div>
</section>