nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.index {
    width: 100%;
    top: -8px;
    height: 70px;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 991.2px) {
    .navbar-toggler {
        display: inline-block;
    }

    .left_nav {
        display: none;
    }
}

li.nav-item.Index,
a.nav-link.index {
    margin-right: 15px;
    color: #f1f1f1 !important;
    font-size: medium;
    font-weight: 500;
}