{% extends 'index.html' %}
{% load static %}

{% block home %}
<div class="row" style="width: 100%; transform: translateX(10px);">
    <div class="card col-md-6 col-lg-3 col-sm-6 col-6">
        <div class="card-body text-center" style="display: grid; align-items: end;">
            <div>
                <!-- Thêm style (thẻ style bên dưới) để căn giữa ảnh -->
                <img src="{% static 'Image/math.png' %}" class="card-img-top" alt=""
                    style="width: 50%; display: block; margin: 0 auto; padding-bottom: 10px;">
                <h5 class="card-title"><strong>Công Thức <br> Toán Học</strong></h5>
                <p class="card-text">Tổng công thức Toán học THPT</p>
            </div>
            <a href="{% url 'math' %}" class="btn btn-primary">Xem ngay</a>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------- -->
    <div class="card col-md-6 col-lg-3 col-sm-6 col-6">
        <div class="card-body text-center" style="display: grid; align-items: end;">
            <div>
                <!-- Thêm style (thẻ style bên dưới) để căn giữa ảnh -->
                <img src="{% static 'Image/physics.png' %}" class="card-img-top" alt=""
                    style="width: 50%; display: block; margin: 0 auto; padding-bottom: 10px;">
                <h5 class="card-title"><strong>Công Thức <br> Vật Lý</strong></h5>
                <p class="card-text">Tổng công thức Vật Lý THPT</p>
            </div>
            <a href="{% url 'physics' %}" class="btn btn-primary">Xem ngay</a>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------- -->
    <div class="card col-md-6 col-lg-3 col-sm-6 col-6">
        <div class="card-body text-center" style="display: grid; align-items: end;">
            <div>
                <!-- Thêm style (thẻ style bên dưới) để căn giữa ảnh -->
                <img src="{% static 'Image/python.png' %}" class="card-img-top" alt=""
                    style="width: 50%; display: block; margin: 0 auto; padding-bottom: 10px;">
                <h5 class="card-title"><strong>Tóm Tắt Python</strong></h5>
                <p class="card-text">Kiến thức Python theo lộ trình SGK</p>
            </div>
            <a href="{% url 'python' %}" class="btn btn-primary">Xem ngay</a>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------- -->
    <div class="card col-md-6 col-lg-3 col-sm-6 col-6">
        <div class="card-body text-center" style="display: grid; align-items: end;">
            <div>
                <!-- Thêm style (thẻ style bên dưới) để căn giữa ảnh -->
                <img src="{% static 'Image/AI-icon.png' %}" class="card-img-top" alt=""
                    style="width: 50%; display: block; margin: 0 auto; padding-bottom: 10px;">
                <h5 class="card-title"><strong>SmartStudy ChatBot</strong></h5>
                <p class="card-text">Trò chuyện với chat bot (AI)</p>
            </div>
            <a href="{% url 'SSChat' %}" class="btn btn-primary">Xem ngay</a>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------- -->
    <div class="card col-md-6 col-lg-3 col-sm-6 col-6">
        <div class="card-body text-center" style="display: grid; align-items: end;">
            <div>
                <img src="{% static 'Image/dictionary.png' %}" class="card-img-top" alt=""
                    style="width: 50%; display: block; margin: 0 auto; padding-bottom: 10px;">
                <h5 class="card-title"><strong>Từ Điển <br> Tiếng Anh</strong></h5>
                <p class="card-text">Tra cứu từ điển tiếng Anh</p>
            </div>
            <a href="{% url 'eng_dict' %}" class="btn btn-primary ">Xem ngay</a>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------- -->
    <div class="card col-md-6 col-lg-3 col-sm-6 col-6">
        <div class="card-body text-center" style="display: grid; align-items: end;">
            <div>
                <!-- Thêm style (thẻ style bên dưới) để căn giữa ảnh -->
                <img src="{% static 'Image/irregular_verbs.png' %}" class="card-img-top" alt=""
                    style="width: 50%; display: block; margin: 0 auto; padding-bottom: 10px;">
                <h5 class="card-title"><strong>Bảng Động Từ Bất Quy Tắc </strong></h5>
                <p class="card-text">Tra cứu trong động từ theo V1 V2 V3</p>
            </div>
            <a href="{% url 'irregular' %}" class="btn btn-primary">Xem ngay</a>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------- -->
    <div class="card col-md-6 col-lg-3 col-sm-6 col-6">
        <div class="card-body text-center" style="display: grid; align-items: end;">
            <!-- Thêm style (thẻ style bên dưới) để căn giữa ảnh -->
            <div>
                <img src="{% static 'Image/periodic-table.png' %}" class="card-img-top" alt=""
                    style="width: 50%; display: block; margin: 0 auto; padding-bottom: 10px;">
                <h5 class="card-title"><strong>
                        Tra Cứu
                        <br>
                        Nguyên Tố Hóa Học
                    </strong></h5>
                <p class="card-text">Tra cứu về nguyên tố hóa học</p>
            </div>
            <a href="{% url 'chemical' %}" class="btn btn-primary justify-content">Xem ngay</a>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------- -->
    <div class="card col-md-6 col-lg-3 col-sm-6 col-6">
        <div class="card-body text-center" style="display: grid; align-items: end;">
            <div>
                <!-- Thêm style (thẻ style bên dưới) để căn giữa ảnh -->
                <img src="{% static 'Image/conversion.png' %}" class="card-img-top" alt=""
                    style="width: 50%; display: block; margin: 0 auto; padding-bottom: 10px;">
                <h5 class="card-title"><strong>Chuyển Đổi</strong></h5>
                <p class="card-text">Chuyển đổi số,...</p>
            </div>
            <a href="{% url 'conversion' %}" class="btn btn-primary">Xem ngay</a>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------- -->
    <div class="card col-md-6 col-lg-3 col-sm-6 col-6">
        <div class="card-body text-center" style="display: grid; align-items: end;">
            <div>
                <!-- Thêm style (thẻ style bên dưới) để căn giữa ảnh -->
                <img src="{% static 'Image/encode.png' %}" class="card-img-top" alt=""
                    style="width: 50%; display: block; margin: 0 auto 5px auto; padding-bottom: 10px;">
                <h5 class="card-title"><strong>Mã hóa <br> code Python</strong></h5>
                <p class="card-text">Giúp bảo mật code Python</p>
            </div>
            <a href="{% url 'encode' %}" class="btn btn-primary float-buttom">Xem ngay</a>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------------------------- -->
    <div class="card col-md-6 col-lg-3 col-sm-6 col-6">
        <div class="card-body text-center" style="display: grid; align-items: end;">
            <div>
                <!-- Thêm style (thẻ style bên dưới) để căn giữa ảnh -->
                <img src="{% static 'Image/exam.png' %}" class="card-img-top" alt=""
                    style="width: 50%; display: block; margin: 0 auto 5px auto; padding-bottom: 10px;">
                <h5 class="card-title"><strong>Đề Thi Toán học</strong></h5>
                <p class="card-text">Tổng hợp tất cả đề thi Toán 9-10-11-12</p>
            </div>
            <a href="{% url 'exam' %}" class="btn btn-primary float-buttom">Xem ngay</a>
        </div>
    </div>
</div>
<!-- ----------------------------------------------------------------------------------------- -->
<br>



{% endblock home %}