<div class="form-floating mb-3" id="password-box">
    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="password"
        onkeyup="check_Password()">
    <label for="floatingPassword">Mật khẩu</label>
</div>
<div class="form-floating mb-2" id="verify_password-box">
    <input type="password" name="verify_password" class="form-control" id="floatingPassword" placeholder="Password"
        onkeyup="check_Password()">
    <label for="floatingPassword">Xác nhận mật khẩu</label>
</div>
<input class="form-floating mb-2 show_password" type="checkbox" onclick="show_password()">Hiển thị mật khẩu
<div class="form-floating mb-3" id="prompt-box" style="color: gray; font-size: 12px;">
    <p style="margin: 0;">Mật khẩu phải có: </p>
    <p style="margin: 0 10px;">● Từ 8 đến 20 kí tự</p>
    <p style="margin: 0 10px;">● Ít nhất 1 chữ hoa</p>
    <p style="margin: 0 10px;">● Ít nhất 1 chữ thường</p>
    <p style="margin: 0 10px;">● Ít nhất 1 kí tự</p>
</div>