{% extends 'index.html' %}
{% load static %}

{% block reset-password %}

<link rel="stylesheet" href="{% static 'css/account.css' %}">

<div class="reset_password-box" style="width: 100%;">
    {% if not email %}
    <article class="email-container" id="email-container">
        <section>
            <div class="form-floating mb-3" id="email-box">
                <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com"
                    onkeyup="listen_onkeyup()" autofocus>
                <label for="floatingInput">Nhập Email</label>
            </div>
            <div class="form-floating mb-3" id="resend-email" style="display: none;">
                <a class="resend" href="">Gửi lại</a>
            </div>
            <div class="form-floating mb-3">
                <button class="btn btn-primary" id="submit-button" type="submit">Xác nhận</button>
            </div>
        </section>
    </article>

    {% else %}
    <article class="password-container" id="password-container">
        <section>
            {% block set_password %}{% endblock set_password %}
        </section>
    </article>
    {% endif %}
</div>

<script>
    const submit = document.getElementById('submit-button');

    submit.addEventListener("click", () => {
        if ("{{email}}") {
            const passw = document.getElementsByName('password');
            const verify_passw = document.getElementsByName('verify_password');
            const password_box = document.getElementById("verify_password-box");
            var password = passw[0].value;
            var verify_password = verify_passw[0].value;

            if (password && verify_password) {
                if (password === verify_password) {
                    fetch('{% url "reset-password" %}', {
                        method: "POST",
                        body: JSON.stringify({
                            'email': '{{email}}',
                            'password': password,
                        }),
                    }).then(response => response.json())
                        .then(data => {
                            var message = data.message;
                            alert(message);
                        });
                } else if (password.length < 8 || verify_password.length < 8) {
                    document.getElementsByName("verify_password")[0]
                        .className = "form-control is-invalid";

                    let create_div = document.createElement('div');
                    create_div.className = "invalid-feedback";
                    create_div.id = "validationServerFeedback";
                    create_div.textContent = "Mật khẩu ít nhất có 8 kí tự.";

                    if (!password_box.querySelector('.invalid-feedback'))
                        password_box.insertBefore(create_div, password_box.children[-1]);
                } else {
                    document.getElementsByName("verify_password")[0]
                        .className = "form-control is-invalid";

                    let create_div = document.createElement('div');
                    create_div.className = "invalid-feedback";
                    create_div.id = "validationServerFeedback";
                    create_div.textContent = "Mật khẩu xác nhận nhập không khớp";

                    if (!password_box.querySelector('.invalid-feedback'))
                        password_box.insertBefore(create_div, password_box.children[-1]);
                }
            }
        } else {
            const email = document.getElementsByName("email");
            const email_box = document.getElementById("email-box");
            var email_value = email[0].value;

            if (email_value) {
                fetch('{% url "reset-password" %}', {
                    method: "POST",
                    body: JSON.stringify({
                        'email': '{{email}}',
                    }),
                }).then(response => response.json())
                    .then(data => {
                        var message = data.message;
                        alert(message);
                    });

            } else {
                let create_div = document.createElement('div')
                create_div.className = "invalid-feedback";
                create_div.id = "validationServerFeedback";
                create_div.textContent = "Vui lòng nhập thông tin";

                document.getElementsByName("email")[0]
                    .className = 'form-control is-invalid';

                if (!email_box.querySelector('.invalid-feedback'))
                    email_box.insertBefore(create_div, email_box.children[-1])
            }
        }
    });

</script>

{% endblock reset-password %}