{% extends "index.html" %}
{% load static %}

{% block signUp %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<script src="{% static 'Scripts.js' %}"></script>

<div class="register-box" style="width: 100%;">
    <article class="register-container">
        <section class="register-box">
            <div class="form-floating mb-3" id="username-box">
                <input name="username" class="form-control" id="floatingInput" placeholder="username">
                <label for="floatingInput">Tên đăng nhập</label>
            </div>

            <div class="form-floating mb-3" id="full_name-box">
                <div class="form-floating">
                    <input name="last_name" class="form-control" id="floatingInput" placeholder="last_name">
                    <label for="floatingInput">Họ</label>
                </div>
                <div class="form-floating">
                    <input name="first_name" class="form-control" id="floatingInput" placeholder="first_name">
                    <label for="floatingInput">Tên</label>
                </div>
            </div>

            <div class="form-floating mb-3" id="email-box">
                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                    aria-describedby="validationServerFeedback" required>
                <label for="floatingInput">Email</label>
            </div>

            {% include "Form/set-password.html" %}

            <div class="form-floating mb-5">
                <button class="btn btn-primary" id="submit-button" type="submit">Xác nhận</button>
            </div>
        </section>

        <section class="form-floating">
            <a href="{% url 'social:begin' 'google-oauth2' %}?next=/register/" class="btn btn-light google-sign-in"
                id="google-button">
                <div class="google-logo">
                    <img class="btn-logo" width="25px" height="25px" src="{% static 'Image\logo\google-logo.png' %}">
                </div>
                <span style="font-weight: 500;">Đăng ký bằng Google</span>
            </a>
        </section>
    </article>

</div>

<script src="{% static 'Scripts.js' %}"></script>
<script>
    const submit = document.getElementById('submit-button');
    const google_btn = document.getElementById('google-button');
    const email_box = document.getElementById("email-box");
    const full_name_box = document.getElementById("full_name-box");



    if ("{{user.is_anonymous}}" == "False") {
        for (const element of [google_btn, email_box, full_name_box]) {
            element.style = "display: none;";
        }
    }

    submit.addEventListener('click', () => {
        const tags_input = document.querySelectorAll("input.form-control");
        var isEmpty = false;
        tags_input.forEach(tagInput => {
            if (!tagInput.value) { // is empty
                isEmpty = true;
                tagInput.className = 'form-control is-invalid';

                let box = document.getElementById(`${tagInput.name}-box`);

                let create_div = create_valid_feedback("Vui lòng nhập thông tin để xác thực.");

                if (tagInput.name == "first_name" || tagInput.name == "last_name")
                    box = document.getElementById("full_name-box");
                if (!box.querySelector('.invalid-feedback'))
                    box.insertBefore(create_div, box.children[-1]);
            }
        });

        if (!isEmpty) {
            if (!"{{redirect}}") {
                register("{{user.is_anonymous}}");
            }
            else {
                otpCode()
            }
        }

    });

    function register(user_is_anonymous) {
        const container = document.getElementsByClassName("register-container");
        const username = document.getElementsByName('username');
        const f_name = document.getElementsByName('first_name');
        const l_name = document.getElementsByName('last_name');
        const email = document.getElementsByName('email');
        const password = document.getElementsByName('password');
        const verify_password = document.getElementsByName('verify_password');


        if (user_is_anonymous == "True") {
            json_request = {
                'username': username[0].value,
                'first_name': f_name[0].value,
                'last_name': l_name[0].value,
                'email': email[0].value,
                'password': password[0].value,
                'verify_password': verify_password[0].value,
            }
        } else {
            json_request = {
                'username': username[0].value,
                'password': password[0].value,
                'verify_password': verify_password[0].value,
            }
        }

        fetch('{% url "register" %}', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json', },
            body: JSON.stringify(json_request),
        }).then(response => {
            if (response.status == 100) {
                container[0].innerHTML = "{% include 'Form/OTP-Code' %}"
            }
            else {
                let data = response.json();

                var error_message = data.messages;
                var error_input = data.error_input;
                const box = document.getElementById(`${error_input}-box`);
                const tagInput = document.getElementsByName(error_input);
                let create_div = create_valid_feedback(error_message);

                tagInput[0].className = 'form-control is-invalid';
                if (!box.querySelector('.invalid-feedback'))
                    box.insertBefore(create_div, box.children[-1]);
            }
        });
    }

    function otpCode() {
        const code_input = document.getElementsByName("otp-code");
        const box = document.getElementById("verify_password-box");
        var code = code_input[0].value;

        fetch(`{% url 'register' %}?otp-code=${code}`)
            .then(response => {
                let data = response.json();
                if (response.status == 400) {
                    let create_div = create_valid_feedback(data.message);

                    if (!box.querySelector('.invalid-feedback'))
                        box.insertBefore(create_div, box.children[-1]);
                }
            });
    }

    function create_valid_feedback(className = "invalid", content) {
        let create_div = document.createElement('div');
        create_div.className = `${className}-feedback`;
        create_div.id = "validationServerFeedback";
        create_div.textContent = content;

        return create_div;
    }
</script>

{% endblock signUp %}