{% extends "index.html" %}
{% extends "reset-password.html" %}
{% extends "sign_up.html" %}
{% load static %}

{% block set_password %}

<div class="form-floating mb-3" id="password-box">
    <input type="password" class="form-control" name="password" id="floatingInput" onkeyup="listen_onkeyup()" autofocus>
    <label for="floatingInput">Nhập mật khẩu mới</label>
</div>
<div class="form-floating mb-3" id="verify_password-box">
    <input type="password" class="form-control" name="verify_password" id="floatingInput" onkeyup="listen_onkeyup()">
    <label for="floatingInput">Xác nhận mật khẩu mới</label>
</div>
<div class="form-floating mb-3">
    <button class="btn btn-primary" id="submit-button" type="submit">Xác nhận</button>
</div>

{% encodeblock set_password %}