{% extends 'index.html' %}
{% load static %}

{% block reset-password %}

<link rel="stylesheet" href="{% static 'css/account.css' %}">
<script src="{% static 'Scripts.js' %}"></script>

<div class="reset_password-box" style="width: 100%;">
    <article class="reset_password-container">
        {% if not email %}
        <section class="email-form" id="email-form">
            <div class="form-floating mb-3" id="email-box">
                <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com"
                    autofocus>
                <label for="floatingInput">Nhập Email</label>
            </div>
            <div class="form-floating mb-3">
                <button class="btn btn-primary" id="submit-button" type="submit">Xác nhận</button>
            </div>
        </section>
        {% endif %}

        {% if email %}
        <section class="password-form" id="password-form">
            {% include "forms/set-password.html" %}
            <div class="form-floating mb-3">
                <button class="btn btn-primary" id="submit-button" type="submit">Xác nhận</button>
            </div>
        </section>
        {% endif %}
    </article>
</div>

<script>
    const submit_btn = document.getElementById('submit-button');
    let email_box = document.getElementById("email-container");
    let password_box = document.getElementById("password-container");

    submit_btn.addEventListener("click", () => {
        submit_btn.disabled = true;
        const tags_input = document.querySelectorAll("input.form-control");
        var isEmpty = false;
        tags_input.forEach(tagInput => {
            if (!tagInput.value) { // is empty
                let box = document.getElementById(`${tagInput.name}-box`);
                let create_div = create_valid_feedback("Vui lòng nhập thông tin để xác thực.");
                isEmpty = true;
                tagInput.className = 'form-control is-invalid';

                if (!box.querySelector('.invalid-feedback'))
                    box.insertBefore(create_div, box.children[-1]);
            }
        });

        if ("{{email}}") { // xử lý chưa submit email
            const password_box = document.getElementById("verify_password-box");
            const passw = document.getElementsByName('password');
            const verify_passw = document.getElementsByName('verify_password');
            var password = passw[0].value
            var verify_password = verify_passw[0].value
            const params = new URLSearchParams();

            if (password && verify_password && "{{email}}") {
                if (password === verify_password) {
                    let size_to_encode = "{{email}}".length + 29
                    params.append(
                        'e', btoa(btoa("{{email}}")) + btoa(size_to_encode));
                    params.append('p', btoa(btoa(password)));
                    params.append("size", size_to_encode)
                    window.location.href = `{% url 'otp-code' %}?${params}`;
                } else {
                    let create_div = create_valid_feedback("Mật khẩu xác nhận nhập không khớp");
                    document.getElementsByName("verify_password")[0]
                        .className = "form-control is-invalid";
                    if (!password_box.querySelector('.invalid-feedback'))
                        password_box.insertBefore(create_div, password_box.children[-1]);
                }
            }
        }
        else { // email đã đăng kí thì hành động tiếp
            const email = document.getElementsByName("email");
            const email_box = document.getElementById("email-box");

            //kiểm tra email đã đăng kí chưa
            fetch("{% url 'reset-password' %}", {
                method: "POST",
                body: JSON.stringify({ "email": email[0].value })
            }).then(response => {
                if (response.status == 202) {
                    if (email[0].value) {
                        var encode_email_value = btoa(email[0].value);
                        window.location.href = `{% url "reset-password" %}?e=${encode_email_value}`;
                    }
                } else {
                    let create_div = create_valid_feedback("Có vẻ tài khoản này chưa đăng ký.");

                    email[0].className = "form-control is-invalid"
                    if (!email_box.querySelector('.invalid-feedback'))
                        email_box.insertBefore(create_div, email_box.children[-1]);
                }
            })
        }
        submit_btn.disabled = false;
    });

    function create_valid_feedback(content, className = "invalid") {
        let create_div = document.createElement('div');
        create_div.className = `${className}-feedback`;
        create_div.id = "validationServerFeedback";
        create_div.textContent = content;

        return create_div;
    }

</script>

{% endblock reset-password %}